<h3>{{ 'home.title' | translate }}</h3>

<p>{{ 'home.description' | translate }}</p>

<div>
  <p *ngIf="!periodList"><em>Loading...</em></p>
  <select *ngIf="periodList" id='soflow' [(ngModel)]="selectedPeriod">
    <option [ngValue]="undefined" disabled selected> Select a period </option>
    <option *ngFor="let period of periodList" value="{{period.periodId}}">{{period.discription}}</option>
  </select>
</div>

<div class="row">

  <div class="col-md-3" *ngIf='uploader === undefined'>
    <h3>Select file</h3>    
    <input type="file" uploader="uploader" (change)="onSelectChange($event)" *ngIf='uploader === undefined' accept=".xlsx,.txt, .xlsm" /><br />    
  </div>

  <div class="col-md-9 uploaded" *ngIf='uploader !== undefined'>
    <h3>Added File</h3>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>{{ uploader.file.name }}</strong>
          </td>
          <td>{{ uploader.file.size/1024/1024 | number }} MB</td>
          <td>
            <p *ngIf="uploading"><em>Uploading...</em></p>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button type="button" class="btn btn-success btn-s" (click)="upload()">
        <span class="glyphicon glyphicon-upload"></span> Upload
      </button>&nbsp;
      <button type="button" class="btn btn-warning btn-s" (click)="cancelAll()">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
      </button>
    </div>

  </div>
</div>