<h1>{{ 'reportview.title' | translate }}</h1>

<p>{{ 'reportview.description' | translate }}</p>

<p *ngIf="!periodList && !accountList"><em>Loading...</em></p>
<div class="row"  *ngIf="periodList && accountList">
  <div class="align-to-left">
    <div>
      From
    </div>
    <div>
      <select class="dropdownstyle" id='soflow' [(ngModel)]="startPeriodId">
          <option [ngValue]="undefined" disabled  selected> Select a period </option>
        <option *ngFor="let period of periodList" value="{{period.periodId}}">{{period.discription}}</option>
      </select>
    </div>
  </div>
  <div class="align-to-left">
    <div class="padding-left">
      To
    </div>
    <div>
      <select class="dropdownstyle" id='soflow' [(ngModel)]="endPeriodId">
          <option [ngValue]="undefined" disabled  selected> Select a period </option>
        <option *ngFor="let period of periodList" value="{{period.periodId}}">{{period.discription}}</option>
      </select>
    </div>
  </div>
  <div class="align-to-left">
    <div class="padding-left">
      Account
    </div>
    <div>
      <select class="dropdownstyle" id='soflow' [(ngModel)]="accountId">
        <option value="0">All</option>
        <option *ngFor="let account of accountList" value="{{account.accountId}}">{{account.accountName}}</option>
      </select>
    </div>
  </div>
  <div class="align-to-left">
    <div class="padding-left"></div>
    <div class="button-align">
      <button (click)="loadReport()">Load Report</button>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>