<p>
  report-view works!
</p>

<p *ngIf="!periodList"><em>Loading...</em></p>
<div class="row">
  <div class="align-to-left">
    <div>
      From
    </div>
    <div>
      <select *ngIf="periodList" class="dropdownstyle" id='soflow' [(ngModel)]="startPeriodId">
        <option *ngFor="let period of periodList" value="{{period.periodId}}">{{period.discription}}</option>
      </select>
    </div>
  </div>
  <div class="align-to-left">
    <div class="padding-left">
      To
    </div>
    <div>
      <select *ngIf="periodList" class="dropdownstyle" id='soflow' [(ngModel)]="endPeriodId">
        <option *ngFor="let period of periodList" value="{{period.periodId}}">{{period.discription}}</option>
      </select>
    </div>
  </div>
  <div class="align-to-left">
    <div class="padding-left">
      Account
    </div>
    <div>
      <select *ngIf="accountList" class="dropdownstyle" id='soflow' [(ngModel)]="accountId">
        <option value="0">All</option>
        <option *ngFor="let account of accountList" value="{{account.accountId}}">{{account.accountName}}</option>
      </select>
    </div>
  </div>
  <div class="align-to-left">
    <div class="padding-left"></div>
    <div class="button-align">
      <button (click)="loadReport()">Load Report</button>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>