<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'
                [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav logout'>
                <li [routerLinkActive]='["link-active"]'>
                    <a (click)='logOut()'>
                        <span class='glyphicon glyphicon-log-out'></span> LogOut - {{username}}
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' *ngIf="isAdmin">
                    <a [routerLink]='["/upload-balance"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-upload'></span> Upload File
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Straightforward View
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'  *ngIf="isAdmin">
                    <a [routerLink]='["/report-view"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-dashboard'></span> Report View
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>