
<h1>{{ 'staightforwardview.title' | translate }}</h1>

<p>{{ 'staightforwardview.description' | translate }}</p>

<p *ngIf="!periodList"><em>Loading...</em></p>

<select *ngIf="periodList" id='soflow' [ngModel]="periodId" (change)="getAccountBalanceForPeriod($event.target.value)">
    <option *ngFor="let period of periodList" value="{{period.periodId}}">{{period.discription}}</option>
  </select>

<table class='table' *ngIf="accountPeriodBalance">
  <thead>
    <tr>
      <th>{{ 'account' | translate }}</th>
      <th>{{ 'balance' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of accountPeriodBalance">
      <td>{{ item.accountName }}</td>
      <td>{{ item.balance }}</td>
    </tr>
  </tbody>
</table>